/* Fonts imported from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variables of usage in all project */
:root {
    --Background-color: #F8F4ED;
    --Color-tag-description-short: #F4D9B2;
    --Color-tag-border-description-short: #000000;
    --Color-text-and-buttons-green: #5B833F;
    --color-button-active-green: #31a34c;
    --Color-text-brown-orange: #C66339;
    --Color-gradient-box: linear-gradient(135deg, #F8EBD7 0%, #FBFBF9 53%, #E7EADD 100%);
    --Color-text-grey: #8D8B88;
    --Color-boton-line: #E4DFD8;
    --Color-text-buttons-green: #F3F2EB;
    --Color-curvy-line: #EE9C2B;
}

/* Body definition */
body {
    background-color: var(--Background-color);
    color: black;
}

/* Fonts applications */
.font-jomhuria {
    font-family: 'Jomhuria', cursive;
}

.font-fraunces {
    font-family: 'Fraunces', serif;
}

.font-gantari {
    font-family: 'Gantari', sans-serif;
}

.font-barlow {
    font-family: 'Barlow', sans-serif;
}

.font-basic {
    font-family: 'Basic', sans-serif;
}

.font-fredoka {
    font-family: 'Fredoka', cursive;
}

/* Header and Containers div - article - section (boxes) settings */
header {
    border-bottom: 1px solid var(--Color-boton-line);
}
.tag-description-short {
    background-color: var(--Color-tag-description-short);
    border: 1px solid var(--Color-tag-border-description-short);
    border-radius: 25px;
    width: fit-content;
    height: auto;
    padding: 5px 15px;
    font-weight: bold;
    transform: skewY(-5deg);
}

.index-container {
    width: 50%;
    margin: 20px;
    justify-content: center;
    position: relative;
    left: 20px;
}
.glass-card {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
/* Lists and other elements */
nav ul li {
    color: var(--Color-text-grey);
    }
    
    .text-green {
        color: var(--Color-text-and-buttons-green);
    }
    
    .text-brown-orange {
        color: var(--Color-text-brown-orange);
    }
    
    .text-grey {
        color: var(--Color-text-grey);
    }
    
    .text-black {
        color: black;
    }
    
    .text-buttons-green {
        color: var(--Color-text-buttons-green);
    }
    
    .start-cook {
        background-color: var(--Color-text-and-buttons-green);
        color: var(--Color-text-buttons-green);
        border-bottom: 5px solid var(--Color-tag-border-description-short);
            border-right: 5px solid var(--Color-tag-border-description-short);
        padding: 10px 10px;
        border-radius: 25px;
        cursor: pointer;
        margin-top: 25px;
        display: flex;
        flex-direction: row;
        }
button:hover {
    background-color: var(--color-button-active-green);
}

button:active {
    border-bottom: 0 solid var(--Color-tag-border-description-short);
    border-right: 0 solid var(--Color-tag-border-description-short);
    transform: translate(5px, 5px);
}
        
        /* Images */

        .logo-AIChef {
            width: 200px;

        }

        .star_icon {
            width: 30px;
            height: 30px;
            margin-right: 8px;
            vertical-align: middle;
        }
        
        .line {
            bottom: -10px;
            height: 30px;
}