<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Home</title>
</head>
<body class="min-h-screen flex flex-col">
    <header class="h-20 flex flex-row justify-between items-center px-4">
        <div>
            <img class="logo-AIChef" src="/images/logo_AIChef.png" alt="Logo AI Chef">
        </div>
        <nav>
            <ul class="flex flex-row gap-8 font-gantari">
                <a href="#"><li>Ingredientes</li></a>
                <a href="#"><li>Recetas</li></a>
            </ul>
        </nav>
    </header>
    <main class="px-8 pt-10 flex-1 flex items-start">
    <div class="index-container flex flex-col gap-6 max-w-5xl w-full">

        <!-- tag -->
        <div class="inline-flex items-center gap-2 px-4 py-1 bg-[#F4D9B2] border-2 border-black/80 rounded-full font-bold -skew-y-3 w-fit">
            <img src="/images/star-icon-black.png" class="w-4 h-4" alt="star icon">
            <span>Recetas con IA, hechas con lo que tenés</span>
        </div>

        <!-- title -->
        <h1 class="text-[100px] font-fraunces font-bold leading-[1]">
            De la <span class="relative inline-block w-fit">
    <span class="text-green">heladera</span>
    <svg class="line absolute left-0 w-full" viewBox="0 0 300 60" preserveAspectRatio="none">
        <path d="M0 35 C 75 -10, 225 70, 300 35"
              stroke-width="12"
              stroke="#EE9C2B"
              fill="none"
              stroke-linecap="round"/>               
    </svg>
    </span>
        al <span class="text-brown-orange"><i>plato</i></span>.</h1>

        <!-- text -->
        <p class="text-[30px] font-basic leading-[1.5] text-grey">
            Decinos que tenés en la cocina y la IA te sugiere 
            <span class="text-black">3 recetas</span> paso a paso, como un chef profesional.
        </p>

        <!-- button -->
        <a href="#ingredientes"
           class="inline-flex items-center gap-2 px-6 py-3 rounded-full bg-[#5B833F] text-white font-semibold border-2 border-black shadow-[4px_4px_0_rgba(0,0,0,0.6)] transition-all duration-200 hover:translate-x-[2px] hover:translate-y-[2px] hover:shadow-none w-fit">
            <img src="/images/star_icon.png" class="w-5 h-5">
            Empezar a cocinar
        </a>

    </div>
</main>
</body>
</html>